@{
  string? ImageUrl = Context.Session.GetString("ImageUrl");
  string? userRole = Context.Session.GetString("UserRole");
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Demo.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
     <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
     <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
  <!-- <link rel="stylesheet" href=""> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/Demo.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="row bg-color  bg-height position-absolute  h-100 w-100 justify-content-center">
        <div class="col-sm-12 col-md-10 d-flex flex-column align-items-center justify-content-center w-100">
            <nav class="navbar navbar-expand-lg  backgroundImage navbar-custom w-100 px-5">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        @if(userRole != null)
                        {
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active text-decoration-none text-white fw-bold fs-5 nav-font-size" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active text-decoration-none text-white fw-bold fs-5 nav-font-size" asp-controller="ContactUs" asp-action="Index">Contact Us</a>
                                </li>
                            </ul>
                        }

                        @{
                            string profileImagePath = string.IsNullOrEmpty(ImageUrl)
                            ? "/images/Default_pfp.png"
                            : $"http://localhost:5114/images/profile-images/{ImageUrl}";
                        
                        }
                    @if(userRole == null)
                    {
                        <div class="w-100 d-flex justify-content-start align-items-center mt-0">
                            <li class="nav-item">
                                <a class="nav-link active text-decoration-none text-white fw-bold fs-5 nav-font-size" asp-controller="Auth" asp-action="Index"> Login </a>
                            </li>
                        </div>
                    }
                    else
                    {
                        <div class="d-flex align-items-center justify-content-center gap-3">
                            @if(userRole != null && userRole=="User")
                            {
                             
                                <a class="nav-link active text-decoration-none text-white nav-font-size" asp-controller="Cart" asp-action="Index"><img src="~/images/cart.svg" class="width-50"></a>
                                <a class="nav-link active text-decoration-none text-white nav-font-size" asp-controller="WishList" asp-action="Index" ><img src="~/images/heart.svg" class="width-50"></a>
                            }
                            <div class="dropdown">
                                <img src="@profileImagePath" class="dropdown-toggle profile-image width-50 cursor-pointer" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false" />
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                    <li class="d-flex gap-1 px-2 my-2 cursor-pointer"><img src="~/images/edit-profile.svg" class="small-img"> <a class="dropdown-item px-3 cursor-pointer" asp-controller="EditProfile" asp-action="Index">Edit Profile</a></li>
                                    <li class="d-flex gap-1 px-2 my-2 cursor-pointer"> <img src="~/images/change-password.svg" class="small-img"> <a class="dropdown-item px-3 text-decoration-none cursor-pointer" asp-controller="ChangePassword" asp-action="Index">Change Password</a></li>
                                    @if(userRole != null && userRole=="User")
                                    {
                                        <li class="d-flex gap-1 px-2 my-2 cursor-pointer"><img src="~/images/orders.svg" class="small-img"> <a class="dropdown-item px-3 cursor-pointer"  asp-controller="Orders" asp-action="Index">Order History</a></li>
                                    }
                                    <li class="d-flex gap-1 px-2 my-2 cursor-pointer"><img src="~/images/logout.svg" class="small-img"><span class="px-3 cursor-pointer" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="logout()">Logout</span></li>
                                </ul>
                            </div>
                            <script>
                               document.addEventListener('DOMContentLoaded', function () {
                                var dropdownElement = document.getElementById('userDropdown');
                                var dropdownMenu = dropdownElement.nextElementSibling;
                                
                                // Toggle menu when clicking the icon
                                dropdownElement.addEventListener('click', function (e) {
                                    e.stopPropagation();
                                    dropdownMenu.classList.toggle('show');
                                });
                                
                                // Close when clicking anywhere else
                                document.addEventListener('click', function (e) {
                                    if (!dropdownElement.contains(e.target) && !dropdownMenu.contains(e.target)) {
                                        dropdownMenu.classList.remove('show');
                                    }
                                });
                            });
                            </script>
                            
                        </div>
                    }
                    </div>
                </div>
            </nav>
            <div class="flex-grow-1 w-100 h-100 ">
                @RenderBody()
            </div>
        </div>
    </div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                    
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <p>Are you sure you want to Logout?</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    No
                </button>
                <button type="button" id="logoutButton" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/auth.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
<script>
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/notificationHub")
        .build();

    connection.on("ReceiveDiscountNotification", function (data) {
        alert(`🔥 New Discount!\nProduct: ${data.ProductName}\nDiscount: ${data.Discount}%`);
    });

    connection.start().catch(function (err) {
        return console.error(err.toString());
    });
</script>

</body>
</html>

