<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offer!</title>
</head>
<body style="font-family: 'Roboto', sans-serif; margin: 0; padding: 0; background-color: #F2F2F2;">
    <div style="background: #F2F2F2; display: flex; flex-direction: column; align-items: start; gap: 20px; overflow-x: hidden;">
        <div style="background: #0066A7; width: 100%; color: white; display: flex; justify-content: center; align-items: center; padding: 20px;">
            <h1 style="margin-left: 10px;">Offer!</h1>
        </div>
        <div style="padding:0 20px;">
            <p style="margin: 20px 0;">
                Dear Valued Customer,
            </p>
            <p style="margin: 20px 0;">
                We are excited to announce an exclusive offer just for you! Enjoy amazing discounts on our premium products for a limited time only. Don't miss this opportunity to save big and experience the best we have to offer.
            </p>
            <p style="margin: 20px 0;">
                you will get {{Discount}}% off on few products,please <a href="{{Link}}" style="color: #0066A7; text-decoration: none;">click here</a> to see more details
            </p>
    </div>
</body>
</html>